    <script src="js/main_user.js"></script>
    <script src="js/main_newUser.js"></script>
    <script src="js/main_events.js"></script>
    <script src="js/main_customer.js"></script>
</body>
</html>