{{>header_user}}

<form method="GET" action="/customer/new" onsubmit="return formValidation()">
    <br>
    <button type="submit" id="add_customer">
         * DODAJ KLIENTA *
    </button>
    <br>
    <br>
</form>

{{>footer_user}}