{{>header_newUser_Login}}

<form method="POST" action="/signup" onsubmit="return newUserValidation()">
    <label for="użytkownik">Adres  email  nowego  użytkownika:</label>
    <br><br>
    <input type="email" name="email" id="email">
    <label for="logowanie">Utwórz  hasło  dostępu:</label>
    <br><br>
    <input type="password" name="password" id="password">
    <br><br>
    <button type="submit">UTWÓRZ KONTO</button>
</form>
<br>

{{#if message}}
<div id="fault">{{message}}</div>
{{/if}}

<ul id="errors"></ul>

{{>footer_newUser}}