{{>header_newUser_Login}}

<form method="POST" action="/login" onsubmit="return logValidation()">
    <label for="użytkownik">Adres email użytkownika:</label>
    <br><br>
    <input type="email" name="username" id="username">
    <label for="logowanie">Hasło dostępu:</label>
    <br><br>
    <input type="password" name="password" id="password">
    <br>
    <button type="submit">ZALOGUJ</button>
    
</form>
<br>

{{#if message}}
<div id="message">{{message}}</div>
{{/if}}

<ul id="errors"></ul>

{{>footer_user}}