{{>header_user}}

<form method="POST" action="/login" onsubmit="return logValidation()">

    <label for="użytkownik">Nazwa użytkownika:</label>
    <input type="text" name="username" id="username">
    <br>
    <label for="logowanie">Hasło:</label>
    <input type="text" name="password" id="password">
       
    <br>
    <button type="submit">ZALOGUJ</button>
</form>

<span>{{message}}</span>

<ul id="errors"></ul> 

{{>footer_user}}