form {
    background-color: #213b50;
    color: #fff;
    padding: 15px;
    position: relative;
}

/* stylowanie formularzy logowania i tworzenia konta użytkownika */
#username,
#email,
#password {
    display: flex;
    background-color: #2b4a64;
    position: relative;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 15px;
    border: 1px solid #2b4a64;
    padding: 15px;
}

.logowanie {
    display: flex;
    position: relative;
    margin-bottom: 2px;
    font-size: 28px;
    font-weight: 600;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    color: rgb(219, 223, 30);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

#logIn,
#createAcc {
    display: flex;
    position: relative;
    padding: 8px 18px;
    font-size: 35px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    color: rgb(24, 20, 20);
    background-color: #7be029;
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px rgba(145, 144, 144, 0.658);
}

#logIn:hover, #createAcc:hover {
    background-color: #3e8e41;
    color: rgb(251, 251, 251)
}

#logIn:active, #createAcc:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#message {
    box-sizing: content-box;
    border: 1.5mm outset rgb(219, 223, 30);
    font-size: 31px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    width: 50%;
    height: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 420px;
    cursor: pointer;
    animation: blinker 2s infinite;
}

@keyframes blinker {

    0%,
    49% {
        color: rgb(249, 5, 5);
        background-color: rgb(92, 231, 112);
    }

    50%,
    100% {
        color: rgb(148, 26, 40);
        background-color: rgb(243, 236, 18);
    }
}

#fault {
    box-sizing: content-box;
    border: 1.5mm inset rgb(219, 223, 30);
    font-size: 31px;
    font-weight: bold;
    text-align: center;
    width: 50%;
    height: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 420px;
    cursor: pointer;
    animation: blinkFault 2s infinite;
}

@keyframes blinkFault {

    0%,
    49% {
        color: white;
        background-color: red;
    }

    50%,
    100% {
        color: red;
        background-color: white;
    }
}
/* koniec stylowania formularzy logowania i tworzenia konta użytkownika */

#action,
input {
    background-color: #2b4a64;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 30%;
    margin-bottom: 15px;
    border: 1px solid #2b4a64;
    padding: 15px;
}

input:focus {
    background-color: #4e708c;
    border: 1px solid #fff;
}

label {
    display: block;
    margin-bottom: 2px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(219, 223, 30);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: inline-block;
    padding: 8px 18px;
    font-size: 23px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    outline: none;
    color: rgb(24, 20, 20);
    background-color: #7be029;
    border: 1.5mm ridge rgb(219, 223, 30);
    border-radius: 15px;
    box-shadow: 0 8px rgba(145, 144, 144, 0.658);
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#logout {
    display: inline-block;
    padding: 8px 18px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    outline: none;
    color: rgb(251, 251, 251);
    background-color: #da2534;
    border: 1.5mm ridge rgb(219, 223, 30);
    border-radius: 15px;
    box-shadow: 0 8px rgba(145, 144, 144, 0.658);
}

#logout:hover {
    background-color: #efdf2f;
    color: rgb(24, 20, 20)
}

#logout:active {
    background-color: #e4eed7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#add_customer {
    display: inline-flex;
    position: sticky;
    left: 40%;
    top: 0px;
    padding: 8px 18px;
    font-size: 33px;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    outline: none;
    color: rgb(24, 20, 20);
    background-color: #f5e20cfd;
    border: 2mm ridge rgba(211, 220, 50, .6);
    border-radius: 15px;
    box-shadow: 0 8px rgba(145, 144, 144, 0.658);
}

#add_customer:hover {
    background-color: #c70861;
    color: rgb(251, 251, 251);
}

#add_customer:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#save {
    display: inline-block;
    position: relative;
    left: 180px;
    padding: 8px 18px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    outline: none;
    color: rgb(24, 20, 20);
    background-color: #7be029;
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px rgba(145, 144, 144, 0.658);
}

#save:hover {
    background-color: #3e8e41;
    color: #fff;
}

#save:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#errors {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    animation: blink 2s infinite;
}

@keyframes blink {

    0%,
    49% {
        color: white;
        background-color: red;
    }

    50%,
    100% {
        color: red;
        background-color: white;
    }
}

@media screen and (max-width: 992px) {

    .logowanie,
    #logIn,
    #createAcc #message,
    #fault #errors,
    #save,
    #add_customer #username,
    #email,
    #password,
    input,
    label,
    button {
        width: 49%;
    }
}

@media screen and (max-width: 768px) {

    .logowanie #logIn,
    #createAcc #message,
    #fault #errors,
    #save,
    #add_customer #username,
    #email,
    #password input,
    label,
    button {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    form {
        width: 100%;
    }
}