<form method="POST" action="/customer/add" onsubmit="return customerValidation()">

    <label for="namesurname">NAZWA UŻYTKOWNIKA:</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="address">ADRES:</label>
    <input type="text" name="address" id="address">
    <br>
    <label for="company">FIRMA/OSOBA:</label>
    <input type="text" name="company" id="company">
    <br>
    <label for="number">NUMER NIP:</label>
    <input type="text" name="nipnumber" id="nipnumber">
    <br>
    <br>
    <button type="submit" id="save">ZAPISZ</button>
    <br>
    <br>
</form>

<ul id="errors"></ul>



